/* 
    Document   : style
    Created on : Jun 10, 2011, 12:37:03 AM
    Author     : tim
    Description:
        Main stylesheet
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
	background-color: lightgray;
	color: black;
	font-size: 125%;
}

table {
	border-collapse: collapse;
}

th {
	background-color: green;
}

table, th, td {
	border: 1px solid black;
}

#overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1000;
	
}

#overlay div {
	width: 80%;
	
	margin: 5% auto;
	background-color: white;
	border: 1px solid black;
	
}

button {
	width: 100%;
	font-size: 100%;
	margin: .1em .1em 0 0;
}
